@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

#identity-information {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

#name {
    font-size: 35px;
    font-family: 'Ubuntu';
    font-weight: 500;
    color: rgb(103, 179, 116);
    border: none;
    text-align: center;
    width: 50%;
}

#contact-info {
    width: 18.5%;
    float: left;
    font-size: 10px;
}

#contact-info input, #contact-info span {
    width: 100px;
    margin-top: 3px;
    border: none;
    font-size: 10px;
}

#contact-info label {
    margin-top: 5px;
    font-family: 'Ubuntu';
    color: rgb(103, 179, 116);
}