html {
    height: 100%;
    width: 100%;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    min-height: 100%;
    border-right: 1pt solid rgb(182, 182, 182);
    border-left: 1pt solid rgb(182, 182, 182);
    border-top: 1pt solid rgb(182, 182, 182);
}

.identity {
    margin-bottom: 50px;
}

.education {
    margin-bottom: 50px;
}

#edit-CV-button, #submit-CV-button {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1pt solid black;
    color: white;
    font-weight: bold;
    background-color: rgb(103, 179, 116);
}

#edit-CV-button:hover, #submit-CV-button:hover {
    box-shadow: 0px 0px 10px grey;
}